/* Variables personalizadas en Tailwind */

@theme {
  --color-primary: #09f;
  --color-primary-ligth: #ceecff;
  --color-primary-dark: rgb(0, 22, 83);

  --color-html: #e44d26;

  /* Breakpoints  */

  --breakpoint-xs: 350px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@import "tailwindcss";
